.taskbar{
    height: 25px;
    background-color: blue;
}
.taskbar .menu{
    list-style-type: none;
    
}

.taskbar .menu li{
    float: left;
    margin: 0px 4px;
}

.taskbar .menu li a{
    color: white;
    text-decoration: none;
    line-height: 25px;
    text-decoration: none;
    margin: 0px 4px;
}

.type{
    color: red;
}

.type2{
    color: blue
}